## Load data

In [2]:
import numpy as np
import pandas as pd

In [3]:
md = pd.read_csv("../datasets/model_data.csv")

In [4]:
md = md.sort_values(by = 'date')

In [5]:
md

,Unnamed: 0,date,sentiment,open,high,low,close,polarity
99,711,2022-01-04,2,396.516663,402.666656,374.350006,383.196655,negative
98,710,2022-01-04,0,396.516663,402.666656,374.350006,383.196655,negative
97,708,2022-01-04,1,396.516663,402.666656,374.350006,383.196655,negative
96,701,2022-01-05,2,382.216675,390.113342,360.336670,362.706665,negative
95,700,2022-01-05,1,382.216675,390.113342,360.336670,362.706665,negative
...,...,...,...,...,...,...,...,...
4,13,2022-03-03,1,292.923340,295.480011,277.533325,279.763336,negative
3,12,2022-03-03,0,292.923340,295.480011,277.533325,279.763336,negative
2,4,2022-03-04,2,283.033325,285.216675,275.053345,279.429993,negative
1,1,2022-03-04,1,283.033325,285.216675,275.053345,279.429993,negative
0,0,2022-03-04,0,283.033325,285.216675,275.053345,279.429993,negative

In [6]:
md = md.drop(['Unnamed: 0','date'],axis=1)

In [7]:
md

    sentiment        open        high         low       close  polarity
99          2  396.516663  402.666656  374.350006  383.196655  negative
98          0  396.516663  402.666656  374.350006  383.196655  negative
97          1  396.516663  402.666656  374.350006  383.196655  negative
96          2  382.216675  390.113342  360.336670  362.706665  negative
95          1  382.216675  390.113342  360.336670  362.706665  negative
..        ...         ...         ...         ...         ...       ...
4           1  292.923340  295.480011  277.533325  279.763336  negative
3           0  292.923340  295.480011  277.533325  279.763336  negative
2           2  283.033325  285.216675  275.053345  279.429993  negative
1           1  283.033325  285.216675  275.053345  279.429993  negative
0           0  283.033325  285.216675  275.053345  279.429993  negative

[100 rows x 6 columns]

In [8]:
# construct datasets for analysis
target = 'polarity'
predictors = list(md.columns)
predictors.remove(target)
X = md[predictors]
y = md[target]

In [9]:
split_point = int(len(X)*0.7)
X_train, X_test = X[:split_point], X[split_point:]
y_train, y_test = y[:split_point], y[split_point:]

In [10]:
X_train

    sentiment        open        high         low       close
99          2  396.516663  402.666656  374.350006  383.196655
98          0  396.516663  402.666656  374.350006  383.196655
97          1  396.516663  402.666656  374.350006  383.196655
96          2  382.216675  390.113342  360.336670  362.706665
95          1  382.216675  390.113342  360.336670  362.706665
..        ...         ...         ...         ...         ...
35          0  302.790009  314.603333  298.899994  301.516663
34          2  302.790009  314.603333  298.899994  301.516663
32          0  303.209991  305.320007  283.566681  286.666656
31          1  303.209991  305.320007  283.566681  286.666656
30          2  303.209991  305.320007  283.566681  286.666656

[70 rows x 5 columns]

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=3)

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [12]:
y_pred = knn.predict(X_test)

c:\Users\mukes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [13]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5333333333333333