## Load data

In [41]:
import numpy as np
import pandas as pd

In [42]:
md = pd.read_csv("../datasets/model_data.csv")

In [43]:
md = md.sort_values(by = 'date')

In [44]:
md

,Unnamed: 0,date,sentiment,open,high,low,close,polarity
92,710,2022-01-04,0,396.516663,402.666656,374.350006,383.196655,negative
91,709,2022-01-04,2,396.516663,402.666656,374.350006,383.196655,negative
90,708,2022-01-04,1,396.516663,402.666656,374.350006,383.196655,negative
89,700,2022-01-05,1,382.216675,390.113342,360.336670,362.706665,negative
87,696,2022-01-06,2,359.000000,362.666656,340.166656,354.899994,negative
...,...,...,...,...,...,...,...,...
4,19,2022-03-03,0,292.923340,295.480011,277.533325,279.763336,negative
3,16,2022-03-03,1,292.923340,295.480011,277.533325,279.763336,negative
2,12,2022-03-03,2,292.923340,295.480011,277.533325,279.763336,negative
1,3,2022-03-04,0,283.033325,285.216675,275.053345,279.429993,negative
0,0,2022-03-04,1,283.033325,285.216675,275.053345,279.429993,negative

In [45]:
md = md.drop(['Unnamed: 0','date'],axis=1)

In [46]:
md

    sentiment        open        high         low       close  polarity
92          0  396.516663  402.666656  374.350006  383.196655  negative
91          2  396.516663  402.666656  374.350006  383.196655  negative
90          1  396.516663  402.666656  374.350006  383.196655  negative
89          1  382.216675  390.113342  360.336670  362.706665  negative
87          2  359.000000  362.666656  340.166656  354.899994  negative
..        ...         ...         ...         ...         ...       ...
4           0  292.923340  295.480011  277.533325  279.763336  negative
3           1  292.923340  295.480011  277.533325  279.763336  negative
2           2  292.923340  295.480011  277.533325  279.763336  negative
1           0  283.033325  285.216675  275.053345  279.429993  negative
0           1  283.033325  285.216675  275.053345  279.429993  negative

[93 rows x 6 columns]

In [47]:
# construct datasets for analysis
target = 'polarity'
predictors = list(md.columns)
predictors.remove(target)
X = md[predictors]
y = md[target]

In [48]:
split_point = int(len(X)*0.7)
X_train, X_test = X[:split_point], X[split_point:]
y_train, y_test = y[:split_point], y[split_point:]

In [49]:
X_train

    sentiment        open        high         low       close
92          0  396.516663  402.666656  374.350006  383.196655
91          2  396.516663  402.666656  374.350006  383.196655
90          1  396.516663  402.666656  374.350006  383.196655
89          1  382.216675  390.113342  360.336670  362.706665
87          2  359.000000  362.666656  340.166656  354.899994
..        ...         ...         ...         ...         ...
34          0  302.790009  314.603333  298.899994  301.516663
31          1  303.209991  305.320007  283.566681  286.666656
30          2  303.209991  305.320007  283.566681  286.666656
29          0  303.209991  305.320007  283.566681  286.666656
28          2  287.190002  299.626678  284.383331  291.920013

[65 rows x 5 columns]

In [50]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=2)

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [51]:
y_pred = knn.predict(X_test)

c:\Users\mukes\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [52]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5714285714285714